$cBlack: black;
$cGray: gray;

html {
    font-size: 100%;
}

body {
    font-size: 0.9rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

// p {
//     color: $cGray;
//     font-size: 14px;
// }

img {
    max-width: 100%;
}

$breakpoints: (
    "md": "screen and (min-width: 600px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.content-width {
    padding: 0 4%;
    max-width: 960px;
}

.header {
    @extend .content-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    // margin: 0 auto;
    .h1 {
        display: flex;
        align-items: center;
        img {
            height: 43px;
        }
    }
    nav {
        ul {
            display: flex;
            // padding: 10px 0;
            // flex-direction: row;
            li {
                margin-left: 30px;
                a {
                    color: $cBlack;
                    font-size: 0.9rem;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

main {
    #mainvisual {
        margin-bottom: 80px;
        img {
            height: calc(100vh - 60px);
            width: 100%;
            // max-width: 1920px;
            object-fit: cover;
            @include mq(md) {
                height: 600px;
            }
        }
    }
    section {
        @extend .content-width;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #about {
        .profile {
            display: flex;
            align-items: center;
            flex-direction: column;
            @include mq(md) {
                width: 62%;
                flex-direction: row;
            }

            &__pic {
                flex-shrink: 0;
                @include mq(md) {
                    margin-bottom: 0;
                }

                img {
                    height: 100px;
                    border-radius: 50%;
                }
            }
            &__sentence {
                h3 {
                    @extend .mb-10;
                }

                @include mq(md) {
                    margin-left: 25px;
                }

                p {
                    font-size: 0.9em;
                }
            }
        }
    }
    #bycycle {
        .inner {
            display: flex;
            flex-direction: column;
            @include mq(md) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .item {
            display: flex;
            flex-direction: column;
            flex-basis: 33%;
            align-items: center;
            margin-bottom: 30px;
            @include mq(md) {
                margin-bottom: 0;
            }
            .h3 {
                @extend .mb-10;
            }
        }
        img {
            height: 68%;
            margin-bottom: 20px;
        }
    }
}

#footer {
    text-align: center;
    padding: 10px 0;
    font-size: 0.5rem;
}

.mb-10 {
    margin-bottom: 10px;
}

.h2 {
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: 550;
    border-bottom: 1px solid;
}
.h3 {
    font-size: 16px;
}
