@use "parts/common" as *;

.main-title {
    @extend .font-lg;
}
.btn {
    border: 1px solid $cBlack;
    background-color: $cWhite;
    padding: 18px 54px;
}

.main-visual {
    @extend .mb-lg;
    img {
        object-fit: cover;
        height: 100vh;
    }
}

.recipe {
    @extend .mb-lg;
    &__text {
        @extend.mb-lg;
        padding: 0 20px;
        text-align: center;
        .main-title {
            margin-bottom: 20px;
        }
    }
    &__inner {
        @extend .flex;
    }
    &__item {
        @include mq(md) {
            flex-basis: 33%;
        }
        img {
            height: 500px;
            object-fit: cover;
        }
    }
    &__btn {
        margin-top: 60px;
        flex-basis: 100%;
        text-align: center;
    }
}

footer {
    text-align: center;
    @extend .font-sm;
    padding: 15px 0;
    ul {
        margin-bottom: 15px;
        li {
            display: inline-block;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $cBlack;
                border-bottom: 1px solid $cBlack;
            }
        }
    }
    p {
    }
}
