$cWhite: white;
$cBlack: black;
$bgGlay: #f0f0f0;

$breakpoints: (
    "md": "screen and (min-width: 900px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

body {
    font-family: "Meiryo", sans-serif;
    @extend .font-md;
    background-color: $bgGlay;
}

ul {
    list-style: none;
    padding-left: 0;
}
// ol {
//     padding-left: 20px;
// }
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.mb-sm {
    margin-bottom: 16px !important;
}

.mb-lg {
    margin-bottom: 80px !important;
    @include mq(md) {
        margin-bottom: 120px;
    }
}

.pb-sm {
    padding-bottom: 16px !important;
}

.pb-lg {
    padding-bottom: 80px !important;
}

.flex {
    display: flex;
    flex-direction: column;

    @include mq(md) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

// font
.font-sm {
    font-size: 12px;
}
.font-md {
    font-size: 14px;
}
.font-lr {
    font-size: 16px;
}
.font-lg {
    font-size: 36px;
}

.main-title {
    @extend .font-lg;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}
.sub-title {
    @extend .font-md;
    margin-bottom: 34px;
    @include mq(md) {
        margin-bottom: 60px;
    }
    &::after {
        padding-top: 24px;
        @include mq(md) {
            padding-top: 36px;
        }
        display: block;
        content: "";
        width: 40px;
        border-bottom: 1px solid $cBlack;
    }
}
