@use "../globals" as *;
@use "../parts/common" as *;

.home {
    @extend .content-width;
    padding-top: 80px;
    padding-bottom: 80px;

    &__link {
        margin-bottom: 100px;
        text-align: center;
        & > a {
            color: $cBlack;
        }
    }
}
