@use "../globals/" as *;

.btn {
    position: relative;
    color: $cWhite;
    background-color: $cRed;

    &.filled {
        transition: 0.3s;
        &:hover {
            background-color: $cWhite;
            color: $cRed;
        }
    }

    &.scale {
        width: 100%;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow: 0 5px $cBtnWineRed;
        padding: 20px;
        font-size: 24px;
        transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        text-align: center;

        &::after {
            position: absolute;
            content: "";
            bottom: 26px;
            right: 26px;
            width: 16px;
            height: 16px;
            border-top: 3px solid $cWhite;
            border-right: 3px solid $cWhite;
            transform: rotate(45deg);
        }
        &:hover {
            opacity: 0.9;
            transform: scale(1.05);
        }
    }
    &.rect {
        border: 1px solid $cWhite;
        padding: 18px 45px;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: -6px;
            right: -6px;
            border-right: 1px solid $cWhite;
            border-bottom: 1px solid $cWhite;
        }
    }
    &.radius {
        border: 3px solid $cRed;
        border-radius: 40px;
        height: 80px;
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        @include mq() {
            font-size: 28px;
        }
    }
}
