$cWhite: white;
$cBlack: #333333;
$cRed: #ff2a2a;
$cBgGray: #cccccc;
$cFooterBg: #e8e8e8;
$cBgSkyBlue: #e9f1fb;
$cShadowGlay: #cfcccc;
$cBtnRed: #ff0033;
$cBtnWineRed: #7a051c;
$contentMaxWidth: 860px;
