@use "../globals" as *;
@use "./common" as *;

.header {
    background-color: $cWhite;
    z-index: 100;
    position: fixed;
    width: 100%;
    &__inner {
        @extend .content-width;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            width: 180px;
        }
    }
}
