@use "../globals" as *;

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
        width: 48%;
        margin-bottom: 20px;
        @include mq() {
            width: 23%;
            margin-bottom: 40px;
        }
    }
    &__img {
        & > img {
            margin-bottom: 10px;
        }
    }
}
